<footer class="footer-main">
  <div>
    <span>
      <img src="/img/logo/contact-logo.png" alt="" />
      123456
    </span>
    <span>
      <img src="/img/logo/email-logo.png" alt="" />
      foodfusion@gmail.com
    </span>
    <span>
      <img src="/img/logo/address-logo.jpg" alt="" /> 1600 Pennsylvania Avenue
    </span>
  </div>
  <div>
    <span>
      <a href="#">
        <img src="/img/logo/insta-logo.png" alt="Instagram Logo" />
      </a>
    </span>
    <span>
      <a href="#">
        <img src="/img/logo/fb-logo.png" alt="Facebook Logo" />
      </a>
    </span>
    <span>
      <a href="#">
        <img src="/img/logo/twitter-logo.png" alt="Twitter Logo" />
      </a>
    </span>
  </div>
</footer>
