<% layout('layouts/boilerplate') %>
<main class="cuisine-main cuisine">
  <% for(let el of cuisineFound.item){ %>
  <div class="card">
    <a href="#"
      ><img
        src="/img/<%= cuisineFound.name %>/<%= el.url %>"
        alt="<%= el.name %>"
      /><%= el.name %>
    </a>
  </div>
  <% } %>
</main>
