<% layout('layouts/boilerplate') %>

<main class="cuisine-main">
  <div>
    <a href="/cuisines/italian">
      <img src="/img/cuisine/italian.jpg" alt="Italian Cuisine" /> Italian
      Cuisine
    </a>
  </div>
  <div>
    <a href="/cuisines/indian">
      <img src="/img/cuisine/indian.jpg" alt="Indian Cuisine" /> Indian Cuisine
    </a>
  </div>
  <div>
    <a href="/cuisines/french">
      <img src="/img/cuisine/french.jpg" alt="French Cuisine" /> French Cuisine
    </a>
  </div>
  <div>
    <a href="/cuisines/mexican">
      <img src="/img/cuisine/mexican.jpg" alt="Mexican Cuisine" /> Mexican
      Cuisine
    </a>
  </div>
  <div>
    <a href="/cuisines/beverages">
      <img src="/img/cuisine/beverage.jpg" alt="Beverages" /> Beverages
    </a>
  </div>
  <div>
    <a href="/cuisines/desert">
      <img src="/img/cuisine/desert.jpg" alt="Deserts" /> Desert
    </a>
  </div>
</main>
